@import "tailwindcss";

body {
    background-color: rgba(0, 0, 0, 0.87);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    text-align: center;
    gap: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: fantasy;
}

button {
    cursor: pointer;
}

[data-carousel-list] {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

[data-carousel-list]::-webkit-scrollbar {
    display: none;
}

@layer components {
    .li-element-first {
        @apply flex flex-col w-screen shrink-0 px-[10vw] list-none gap-[2vh];
    }

    .li-element-second {
        @apply w-1/3 aspect-square px-[2vw] py-[1vh];
    }

    .section-element-first {
        @apply flex flex-col gap-[2vh];
    }

    .p-element-first {
        @apply text-start w-[80vw];
    }

    .p-element-second {
        @apply text-xs text-gray-300;
    }

    .p-element-third {
        @apply mt-[2vh] flex h-[3vh] justify-center font-bold;
    }

    .article-element-first {
        @apply w-screen shrink-0;
    }

    .ul-element-first {
        @apply w-screen shrink-0 px-[10vw];
    }

    .h2-element-first {
        @apply text-2xl;
    }

    .h3-element-first {
        @apply font-bold italic;
        font-family: "Gill Sans", sans-serif;
    }

    .h3-element-second {
        @apply mb-[2vh] font-bold italic;
        font-family: "Gill Sans", sans-serif;
    }

    .h4-element-first {
        @apply mb-[2vh] font-bold italic;
        font-family: "Gill Sans", sans-serif;
    }

    .h5-element-first {
        @apply mt-[1vh];
    }

    .rainbow-text {
        background: linear-gradient(90deg,
                #ff3cac, #784ba0, #2b86c5, #06beb6, #f8ff00, #ff3cac);
        background-size: 200% auto;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow 3s linear infinite;
        font-style: italic;
    }

    @keyframes rainbow {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .rainbow-text {
            animation: none;
            background-size: 100% 100%;
        }
    }
}